@import url(style.css);

/* FORGOT PASSWORD FORM-CONTAINER */
.form_section {
    width: 40%;
    margin: 0 auto;
}

.form_section-container {
    width: var(--form-width);
    border: 2px solid var(--color-primary);
    border-radius: 1rem;
    padding: 4rem;
    background-color: var(--color-white);
}

.form_logo {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
}

.form_section h3 {
    color: var(--color-primary);
    margin-bottom: 0.6rem;
}

.form_section h4 {
    color: var(--color-);
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}