@import url(style.css);

/* SIGNUP FORM-CONTAINER */
.back_button-container button {
    border-radius: 50%;
    margin-top: 2rem;
}

.back_button-container .uil-arrow-circle-left {
    font-size: 2.6rem;
    color: var(--color-primary);
    cursor: pointer;
}

.back_button-container .uil-arrow-circle-left:hover {
    opacity: 0.5;
    transition: var(--transition);
}

.form_section {
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
}

.form_section-container {
    width: var(--form-width);
    border: 2px solid var(--color-primary);
    border-radius: 1rem;
    padding: 4rem;
    background-color: var(--color-white);
}

.form_logo {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.form_section h4 {
    margin-top: 1.2rem;
    color: var(--color-primary);
}

.form_section h5 {
    font-weight: 500;
    margin-top: 0.8rem;
    color: var(--color-black);
}

.alert_message.error {
    background: var(--color-light-red);
    color: var(--color-red);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: var(--card-border-radius-2);
    text-align: center;
    font-size: 0.9rem;
}

.alert_message.success {
    background: var(--color-light-green);
    color: var(--color-green);
}

.checkbox_control label {
    color: var(--color-primary);
    font-weight: 600;
}

/* CUSTOM PHONE NUMBER SPINNER */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_control {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

input, textarea, select {
    border: 2px solid var(--color-primary);
    padding: 0.8rem 1.4rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius-2);
    resize: none;
    color: var(--color-black-font);
    appearance: none;
}

.form_section small {
    margin-top: 1rem;
    display: block;
}

.form_section small a{
    color: var(--color-primary);
}

/* CHECKBOX CSS */
/* Hide the default checkbox */
.checkbox_container {
    display: flex;
    align-items: center;
}

.checkbox-control input[type="checkbox"] {
    display: none;
}

/* Style the label with custom checkbox */
.checkbox-control{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding-left: 35px;
    font-size: 16px;
    position: relative;
}

/* The custom checkbox (checkmark) */
.checkbox-control .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* The icon inside the custom checkbox */
.checkbox-control .checkmark i {
    font-size: 14px;
    color: var(--color-white);
    opacity: 0; /* Initially hidden */
}

/* On hover */
.checkbox-control:hover .checkmark {
    background-color: var(--color-light-primary);
}

/* When the checkbox is checked */
.checkbox-control input:checked + .checkmark {
    background-color: var(--color-primary);
}

/* Show the icon when checked */
.checkbox-control input:checked + .checkmark i {
    opacity: 1;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-mg);
    }


}