@import url(style.css);

.sports_events h3 {
    background: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    border-radius: var(--card-border-radius-2);
    padding: 0.6rem;
}

.sports_event-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.sports_event {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-secondary);
    color: var(--color-white);
    cursor: pointer;
    border-radius: var(--card-border-radius-2);
    overflow: hidden; /* Ensure content doesn't overflow during animation */
}

.sports_event h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.sports_event p {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.sports_event.open p {
    height: auto;
}

.sports_event-icon {
    align-self: flex-start;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
